# Common ignores
.DS_Store
*.log
.env
.env.*
!.env.example

# Node.js
node_modules/
dist/
build/
.npm
.eslintcache

# Rust
target/
**/*.rs.bk
Cargo.lock.bak

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project specific
frontend/src/wasm-pkg/
!frontend/src/wasm-pkg/wasm.js
wasm/pkg/
frontend/dist/
backend/target/
wasm/target/
