[package]
name = "wasm"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
wasm-bindgen = "0.2"
flatbuffers = "25.12.19"
# In a real setup, we might share the schema_generated.rs or have a common crate.
console_error_panic_hook = "0.1"
